<main class="splitScreen__main">
  <div class="splitScreen__logoPart">
    <div class="splitScreen__logo">
      <p class="splitScreen__logo-text">MESSENJUICE</p>
      <img
        src="./../../../static/imgs/logo.svg"
        alt="logo"
        class="splitScreen__logo-image"
      />
    </div>
  </div>

  <div class="splitScreen__contentPart">
    {{{body}}}
  </div>
</main>