---
  form:
    formName: 'profileForm'
    formText: 'Profile'
    singleColumn: false
    inputs: 
      - {label: "Email Address", name: 'email',type: 'text', placeholder: "Enter your Email", isRequired: true}
      - {label: "Login", name: 'login',type: 'text', placeholder: "Enter your login", isRequired: true}
      - {label: "First Name", name: 'first_name',type: 'text', placeholder: "Enter your First Name", isRequired: true}
      - {label: "Second Name", name: 'second_name',type: 'text', placeholder: "Enter your Second Name", isRequired: true}
      - {label: "Name to show", name: 'display_name',type: 'text', placeholder: "Enter your Phone", isRequired: true}
      - {label: "Phone", name: 'phone',type: 'tel', placeholder: "Enter your Phone", isRequired: true}
    buttons: 
      - {type: "button", text: 'Change Info', isActive: false}
      - {type: "button", text: 'Change Password', isActive: false}
      - {type: "submit", text: 'Cancel', isActive: true}
---

<main class="profile__main">
  <div class="profile__formPart">
    <div class="profile__form-container">
      {{>form/form form}}
    </div>
  </div>

  <div class="profile__avatarPart">
    <div class="splitScreen__logo">
      <img src="./../../../static/imgs/avatarPlaceholder.png" alt="logo" class="profile__avatarPart__avatar">
      <p class="profile__avatar">Vlad</p>
    </div>
  </div>
</main>
